<!DOCTYPE html>
<html>
    <head>
        <title>TerraFormer's Scoresheet</title>
        <script tsrc="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <link rel="stylesheet" href="./styles/main.css" />
    </head>

    <body class="overflow-auto">
        <!--<img src="https://i.imgur.com/qCFIDFu.png"></img>-->
        <form class="form-horizontal rounded" action="/submit" method="POST">


            <div class="table-responsive shadow p-3 mb-5 bg-black">
                <table class="table table-hover rounded">
                    <thead class="rounded"></thead>
                    <tbody>
                        {% for k in range(playercount) %}
                        <tr>
                            <td><input type="text" class="form-control" name="player{{k+1}}" placeholder="playername" /></td>
                            {% for element in elementarray%}
                            <td><input type="number" class="form-control" name="{{element}}{{k+1}}" placeholder="{{element}}" /></td>
                            {%endfor%}
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form> 
    </body>
</html>